<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>

		<!-- parameters begin -->

		<add key="MapID_T3F" value="ee59d352-4e1b-11ed-80b2-000129af8f1d" />
		<add key="MapID_M3F" value="55023e70-4df7-11ed-80b2-000129af8f1d" />
		<add key="sFleet_IP_Address_SV" value="10.141.26.107" />

		<!-- parameters end -->

		<add key="sAutoChargeMission" value="None" />
		<add key="sEngineer" value="INATECH" />
		<add key="sEngineer_Password" value="INATECH" />
		<add key="sMaint_Password" value="YKK" />
		<add key="sMaint_User" value="No" />
		<add key="sOperator_User" value="No" />
		<add key="sAutoChargeStartPercent" value="70" />
		<add key="sAutoChargeEndPercent" value="60" />
		<add key="sAutoChargeDelayTime" value="50" />
		<add key="sMaint_MissionSetting" value="Access" />
		<add key="sOperator_MissionSetting" value="Access" />
		<add key="sOperator_TrafficSetting" value="No" />
		<add key="sMaint_TrafficSetting" value="No" />
		<add key="sTraffic_Position_Area_UseIndex = 4" value="Unuse" />
		<add key="dTraffic_Position_Area_X1Index = 4" value="0.1" />
		<add key="dTraffic_Position_Area_X2Index = 4" value="0.2" />
		<add key="dTraffic_Position_Area_X3Index = 4" value="0.3" />
		<add key="dTraffic_Position_Area_X4Index = 4" value="0.4" />
		<add key="dTraffic_Position_Area_Y1Index = 4" value="0.5" />
		<add key="dTraffic_Position_Area_Y2Index = 4" value="0.6" />
		<add key="dTraffic_Position_Area_Y3Index = 4" value="0.7" />
		<add key="dTraffic_Position_Area_Y4Index = 4" value="0.8" />
		<add key="sTraffic_Position_Area_UseIndex = 5" value="Unuse" />
		<add key="dTraffic_Position_Area_X1Index = 5" value="0.1" />
		<add key="dTraffic_Position_Area_X2Index = 5" value="0.2" />
		<add key="dTraffic_Position_Area_X3Index = 5" value="0.3" />
		<add key="dTraffic_Position_Area_X4Index = 5" value="0.4" />
		<add key="dTraffic_Position_Area_Y1Index = 5" value="0.5" />
		<add key="dTraffic_Position_Area_Y2Index = 5" value="0.6" />
		<add key="dTraffic_Position_Area_Y3Index = 5" value="0.7" />
		<add key="dTraffic_Position_Area_Y4Index = 5" value="0.8" />
		<add key="sTraffic_Position_Area_UseIndex = 6" value="Unuse" />
		<add key="dTraffic_Position_Area_X1Index = 6" value="0.1" />
		<add key="dTraffic_Position_Area_X2Index = 6" value="0.2" />
		<add key="dTraffic_Position_Area_X3Index = 6" value="0.3" />
		<add key="dTraffic_Position_Area_X4Index = 6" value="0.4" />
		<add key="dTraffic_Position_Area_Y1Index = 6" value="0.5" />
		<add key="dTraffic_Position_Area_Y2Index = 6" value="0.6" />
		<add key="dTraffic_Position_Area_Y3Index = 6" value="0.7" />
		<add key="dTraffic_Position_Area_Y4Index = 6" value="0.8" />
		<add key="dTraffic_Position_Area_X1Index = 7" value="0.1" />
		<add key="dTraffic_Position_Area_X2Index = 7" value="0.2" />
		<add key="dTraffic_Position_Area_X3Index = 7" value="0.3" />
		<add key="dTraffic_Position_Area_X4Index = 7" value="0.4" />
		<add key="dTraffic_Position_Area_Y1Index = 7" value="0.5" />
		<add key="dTraffic_Position_Area_Y2Index = 7" value="0.6" />
		<add key="dTraffic_Position_Area_Y3Index = 7" value="0.7" />
		<add key="dTraffic_Position_Area_Y4Index = 7" value="0.8" />
		<add key="sAutoChargeMissionEnablePercent" value="20" />
		<add key="dTraffic_Position_Area_X1Index = 1" value="22.150" />
		<add key="dTraffic_Position_Area_Y1Index = 1" value="5.4" />
		<add key="dTraffic_Position_Area_X2Index = 1" value="24.2" />
		<add key="dTraffic_Position_Area_Y2Index = 1" value="5.4" />
		<add key="dTraffic_Position_Area_X3Index = 1" value="24.2" />
		<add key="dTraffic_Position_Area_Y3Index = 1" value="7.2" />
		<add key="dTraffic_Position_Area_X4Index = 1" value="22.15" />
		<add key="dTraffic_Position_Area_Y4Index = 1" value="7.2" />
		<add key="dTraffic_Position_Area_X1Index = 2" value="22.8" />
		<add key="dTraffic_Position_Area_Y1Index = 2" value="7.9" />
		<add key="dTraffic_Position_Area_X2Index = 2" value="24.5" />
		<add key="dTraffic_Position_Area_Y2Index = 2" value="7.9" />
		<add key="dTraffic_Position_Area_X3Index = 2" value="24.5" />
		<add key="dTraffic_Position_Area_Y3Index = 2" value="9.5" />
		<add key="dTraffic_Position_Area_X4Index = 2" value="22.8" />
		<add key="dTraffic_Position_Area_Y4Index = 2" value="9.5" />
		<add key="dTraffic_Position_Area_X1Index = 3" value="22.6" />
		<add key="dTraffic_Position_Area_Y1Index = 3" value="10.7" />
		<add key="dTraffic_Position_Area_X2Index = 3" value="24.5" />
		<add key="dTraffic_Position_Area_Y2Index = 3" value="10.7" />
		<add key="dTraffic_Position_Area_X3Index = 3" value="24.5" />
		<add key="dTraffic_Position_Area_Y3Index = 3" value="11.95" />
		<add key="dTraffic_Position_Area_X4Index = 3" value="22.6" />
		<add key="dTraffic_Position_Area_Y4Index = 3" value="11.95" />
		<add key="sAutoWaiting_Position_Use" value="Use" />
		<add key="sTraffic_Position_Area_UseIndex = 7" value="Unuse" />
		<add key="sAutoChargeUse" value="Unuse" />
		<add key="sFleet_ResponseTime" value="30" />
		<add key="sReset_MiR_Mission" value="None" />
		<add key="iCallButton_MaxNum" value="47" />
		<add key="sWise_IP_Address_SV" value="10.214.253.197" />
		<add key="sWise_ResponseTime" value="30" />
		<add key="sTraffic_Position_Area_UseIndex = 1" value="Unuse" />
		<add key="sTraffic_Position_Area_UseIndex = 3" value="Unuse" />
		<add key="dAutoWaiting_Position_X1" value="80" />
		<add key="dAutoWaiting_Position_Y1" value="53" />
		<add key="dAutoWaiting_Position_X2" value="82" />
		<add key="dAutoWaiting_Position_Y2" value="53" />
		<add key="dAutoWaiting_Position_X3" value="82" />
		<add key="dAutoWaiting_Position_X4" value="80" />
		<add key="sTraffic_Position_Area_UseIndex = 2" value="Unuse" />
		<add key="sAutoWaitingMission" value="H_WaitingMission" />
		<add key="sAccessLevel" value="Engineer" />
		<add key="sAutoWaitingUse" value="Use" />
		<add key="dAutoWaiting_Position_Y3" value="60" />
		<add key="dAutoWaiting_Position_Y4" value="60" />
		<add key="JobConfig_MaxNum" value="170" />
	</appSettings>
</configuration>
