<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="sFleet_IP_Address_SV" value="192.168.1.253" />
		<add key="sFleet_ResponseTime" value="30" />
	</appSettings>
</configuration>
